name: Unittest Gaiaflow

on:
  push:

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - name: checkout xcube-clms
        uses: actions/checkout@v4

      - name: Install Pixi
        run: curl -fsSL https://pixi.sh/install.sh | bash
        shell: bash

      - name: Add Pixi to PATH
        run: echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Set up Python ${{ matrix.python-version }}
        run: pixi add python=${{ matrix.python-version }} --no-install

      - name: Install dependencies
        run: pixi install

      - name: Linting with ruff
        run:
          pixi run check

      - name: Typecheck with mypy
        run:
          pixi run typecheck

      - name: Install and Test
        run:
          pixi run test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}